<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="../view/style.css">
</head>
<body>
    <div class="product-details">
        <h1 id="productName"></h1>
        <p id="productDescription"></p>
        <button id="backToListButton">Volver a la lista</button>
    </div>
    <script type="module" src="../models/productDetails.js"></script>
</body>
</html>
